html, body {
   margin:0;
   padding:0;
   height:100%;
   font-family: Arial;
   text-align: center;
   color: #000000;
   background-color: #FFFFFF;
}
a:link  {color: #000000; text-decoration: none;}
a:visited   {color: #000000; text-decoration: none;}
a:active {color: #000000; text-decoration: none;}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#FFFFFF;
   color:#000000;
   padding:5px;
}
#body {
   padding:0px;
   padding-bottom:20px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:99%;
   height:20px;
   background:#FFFFFF;
   color:#000000;
   padding:4px;
}